@media (max-width: 1200px)
    .promo
        .services_subtext
            max-width: 70%
            margin: 0 auto
    .promo_2
        .about_us
            max-width: 100%
            &_text
                p
                    max-width: 90%
    .new_promo
        padding: 20px
        .new_about_us
            width: 100%
        .new_about_us_text
            h2
                font-size: 30px
    .our_partners
        margin-top: 30px
        h2
            font-size: 32px
        .our_partners_img
            .cisco_img
                width: 185px
                height: auto
                padding-bottom: 26px
            img
                width: 260px
                

    .promo_4
        overflow: hidden
        margin-left: 0
        .promo_description_items
            .description_item
                margin-left: 4px
    
@media (max-width: 991px)

    header
        h1
            font-size: 36px
        .header_h3
            max-width: 85%
        .header_items
            .menu
                font-size: 14px
                li
                    ul
                        padding-right: 14px

    .promo
        margin-left: 12px
        .services
            h2
                font-size: 32px
            &_subtext
                font-size: 15px
                max-width: 70%
                margin: 0 auto
            &_item_text
                font_size: 17px
                & p:last-child
                        font-size: 15px
    .promo_2
        .about_us_text
            h2
                font-size: 28px
            p
                font-size: 15px
                max-width: 90%
        .about_us_img
            img
                width: 420px
                height: 300px
    .new_promo
            padding: 10px
            padding-top: 30px
            .new_about_us
                h2
                    font-size: 24px
            
            .new_about_us_text
             
                p
                    font-size: 15px
            .new_about_us_img
                img
                    width: 360px
                    height: 280px
    .our_partners
        margin-top: 28px
        h2
            font-size: 28px
        
        .our_partners_img
            display: flex
            align-items: center
            img
                width: 220px
                height: 80px
            .cisco_img
                width: 154px
                height: auto
                
    .promo_3
        .our_works
            h2
                font-size: 28px
            &_button
                width: 185px
                height: 43px
    
    .promo_4
        top: -170px
        left: 0
        
        .promo_description_items
            .description_item
                text-align: left
                
                h4
                    font-size: 16px
                    text-align: left
                p, a
                    font-size: 14px
                    text-align: left  
                    max-width: 90%            
                img
                    width: 280px
                    height: 180px

@media (max-width: 767px)
    header
        h1
            font-size: 30px  
            margin-bottom: 0
        h3
            font-size: 19px 
            padding-bottom: 20px
        .header_h3
            margin-bottom: 80px  
            max-width: 95%           
        .header_items
            .header-icon
                img
                    width: 90%
                    height: 50px 
            .menu
                position: fixed                
                top: 0
                left: -100%               
                width: 50%
                background-color: rgb(0, 0 ,0,  .8 )
                height: 72vh
                padding: 20px 15px
                transition: 0.6s all
                &_active
                    left: -6px
                
                &_item
                    padding-right: 0
                    border: none
                    font-size: 20px
                li
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    ul
                        padding-top: 50px
        .hamburger
            display: block
            position: fixed
            right: 30px
            top: 40px
            transform: translateY(-50%)
            width: 26px
            
            span
                display: block
                height: 2px
                width: 100%
                background-color: white
                margin-bottom: 4px
                transition: 0.6s all
            &_active                
                span
                    margin-bottom: -2px
                    
                    &:nth-child(1)
                        transform: rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: rotate(45deg)
    
    .promo
        .services
            h2
                font-size: 24px
                max-width: 85%
                margin: 0 auto
            &_subtext
                margin-top: 20px
            &_item_text
                font-size: 16px
                p:last-child
                    padding-top: 4px
    .promo_2
        padding: 30px
        margin-top: 30px
        .row
            padding-left:0   
        .about_us
            flex-direction: column-reverse
        .about_us_text
            h2
                font-size: 24px
                text-align: center
                margin-top: 30px
            p
                max-width: 100%
                font-size: 14px
                padding-bottom: 20px
        .about_us_img
            text-align: center
            img
                width:360px
                height: 220px
                margin-left: 20px
    .new_promo
        padding: 10px
        padding-top: 30px
        .new_about_us
            flex-direction: column
            h2
                font-size: 24px
                margin-top: 20px
                text-align: center
                width: 80%
        .new_about_us_text            
            p
                font-size: 14px
                padding-top: 26px
        .new_about_us_img
            img
                width: 340px
                height: 220px
                margin-left: 0
    .our_partners
        margin-top: 20px
        h2
            font-size: 24px
        
        .our_partners_img
            justify-content: space-between
            img
                width: 190px
                height: auto
                margin: 0
                 
            .cisco_img               
                width: 140px
                height: auto
                padding-bottom: 26px
            .microinvest_img
                padding-top: 12px
    
                
    .promo_3
        .our_works
            padding: 100px 100px 200px 100px
            h2
                font-size: 24px   
    .promo_4
        top: -140px
        margin-left: 6px
        .promo_description_items
            
            .description_item
                text-align: left
                margin-left: 0
                img
                    width: 220px
                    height: 150px                 
    footer
        ul
            padding-left: 0
        .main_menu
            h4
                padding-left: 4px
        .footer_content
            h4
                font-size: 16px
                padding-left: 4px 
                      
        .reserved
            font-size: 10px

@media (max-width: 575px) 
    header
        padding-bottom: 40px
        .header_items
            .header_icon
                img
                    width: 40%
                    height: 10px
                     
        h1
            font-size: 28px
        h3
            font-size: 16px 
            padding-bottom: 14px
        .header_h3
            max-width: 90%               

    .promo
        
        .services
            margin-top: 28px
            
            .col
                margin-top: 40px               
                max-width: 100%
                display: block
                text-align: center
                
                
            h2
                font-size: 22px
                max-width: 100%
                margin: 0 auto
            &_subtext
                font-size: 14px
                margin-top: 14px
                max-width: 90%           
    .promo_2
        .about_us
            
            
            &_text
                h2
                    text-align: center 
                    
            &_img
                text-align: center
                img
                    width: 400px
                    height: 240px 
    .new_promo
        padding: 10px
        padding-top: 30px
        .new_about_us
            flex-direction: column
            width: 100%
            h2
                font-size: 22px
                margin-top: 20px
                width: 88%
                padding-left: 8px
        .new_about_us_text        
            p
                font-size: 14px
                padding-top: 20px
        .new_about_us_img
            img
                width: 310px
                height: 210px
    .our_partners
        
        background: white
        padding: 50px
        h2
            font-size: 22px
            margin-bottom: 70px
        
        .our_partners_img
            display: flex
            justify-content: center
            align-items: center
            img
                width: 184px
                height: auto
                padding-left: 20px
            .cisco_img               
                width: 120px
                height: auto
                padding-bottom: 20px
    .promo_3
        display: none              
    .promo_4
        display: none
        left: 0
        .promo_description_items
            .description_item
                img
                    width: 190px
                    height: 140px

    footer
        padding-left: 10px
        .main_menu
            h4
                padding-left: 0
            ul
                li
                    padding-top: 10px
                    a
                        font-size: 12px
        .footer_content
            h4
                
                padding-bottom: 20px
                
            .contacts_message, .contacts_phone, .contacts_adress
                p
                    padding: 8px 6px 10px 6px
                    font-size: 12px
                
        .social_softs 
            ul 
                li 
                    padding-top: 15px
                    p
                        font-size: 12px
                    
        .reserved
            padding: 70px 40px 16px 40px
            